# Copy values from .env.SAMPLE and fill them in after setting up services
NEXT_PUBLIC_CONVEX_URL=
NEXT_PUBLIC_CONVEX_SITE_URL=
CONVEX_DEPLOY_KEY=
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
NEXT_PUBLIC_WORKOS_REDIRECT_URI=

# Admin users allowed to access the admin dashboard, comma-separated list of emails
ADMIN_ALLOWED_EMAILS=

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=                  # team: mattheweblanke, project: blanke-portfolio
